<!DOCTYPE html>
<html>

<head>
    <title>Monster Slayer</title>
    <script src="https://npmcdn.com/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="foundation.min.css">
    <link rel="stylesheet" href="app.css">
</head>

<body>
    <style>
        .barraverde {
            background-color: green;
            color: black;
            margin: 0;
        }

        .barravermelha {
            background-color: red;
            color: white;
            margin: 0;
        }
    </style>
    <div id="app">
        <section class="row">
            <div class="small-6 columns">
                <h1 class="text-center">YOU</h1>
                <div class="healthbar">
                    <div class="healthbar text-center"
                    :class="[lowhealthplayer ? 'barravermelha': 'barraverde']"
                    :style="{width:playerHealth+'%'}">

                    </div>
                </div>
            </div>
            <div class="small-6 columns">
                <h1 class="text-center">MONSTER</h1>
                <div class="healthbar">
                    <div class="healthbar text-center"
                    style="background-color: green; margin:0"
                    :style="{width:monsterHealth+'%'}">

                    </div>
                </div>
            </div>
        </section>
        <section class="row controls" v-if="!startgame">
            <div class="small-12 columns">
                <button id="start-game" @click="comecaGame()">START NEW GAME</button>
            </div>
        </section>
        <section class="row controls">
            <div class="small-12 columns">
                <button id="attack" @click="ataque()">ATTACK</button>
                <button id="special-attack" @click="specialAttack()">SPECIAL ATTACK</button>
                <button id="heal" @click="heal()">HEAL</button>
                <button id="give-up" @click="giveup()">GIVE UP</button>
            </div>
        </section>
        <section class="row log">
            <div class="small-12 columns">
                <ul>
                    <li v-for="historico in historicos"
                    :class="{'player-turn': historico.player, 'monster-turn':!historico.player}">
                        {{historico.texto}}
                    </li>
                </ul>
            </div>
        </section>
    </div>
</body>
<script>
    var app = new Vue ({
        el:'#app',
        data: {
            playerHealth: 100,
            monsterHealth: 100,
            startgame: false,
            historicos: [],
            lowhealthplayer: false,
            lowhealthmonster: false
        },
        methods: {
            comecaGame: function (){
                this.startgame= true;
                this.playerHealth=100;
                this.monsterHealth=100;
                this.historicos=[];
                console.log("Entrou")
            },
            verificaVida: function (playerHealth,monsterHealth){
                if (playerHealth<=0){
                    alert("Monstro ganhou");
                    this.startgame=false;
                    window.location.reload();
                }
                else if (monsterHealth<=0){
                    alert("Player ganhou");
                    this.startgame=false;
                    window.location.reload();
                }

                if (playerHealth<=50){
                    this.lowhealthplayer=true;
                }

                if (monsterHealth<=50){
                    this.lowhealthmonster=true;
                }
            },
            ataque: function (){
                var max = 25;
                var min = 1;
                var dano = Math.max(Math.floor(Math.random() * max) + 1, min);
                this.playerHealth = this.playerHealth - dano;

                this.historicos.unshift({
                    texto:"O Monstro deu " +dano+ " no Player",
                    player: false,
                })

                var maxMonstro = 30;
                var minMonstro = 1;

                var danoMonstro = Math.max(Math.floor(Math.random() * maxMonstro) + 1, minMonstro);
                this.monsterHealth = this.monsterHealth - danoMonstro;

                this.historicos.unshift({
                    texto:"O Player deu " +danoMonstro+ " no Monstro",
                    player: true,
                })

                this.verificaVida(this.playerHealth,this.monsterHealth);

                console.log(this.monsterHealth)
                console.log(this.playerHealth)
            },
            
            specialAttack: function (){

                var maxMonstro = 40;
                var minMonstro = 1;

                var danoMonstro = Math.max(Math.floor(Math.random() * maxMonstro) + 1, minMonstro);
                this.monsterHealth = this.monsterHealth - danoMonstro;

                this.historicos.unshift({
                    texto:"O Player deu um ataque especial de "+danoMonstro+" no Monstro",
                    player: true,
                })

                this.verificaVida(this.playerHealth,this.monsterHealth);
                console.log(this.monsterHealth)
                console.log(this.playerHealth)
            },

            heal: function (){

                var healing = 20;

                if (this.playerHealth+healing>=100){
                    this.playerHealth=100;
                }
                else {
                    this.playerHealth = this.playerHealth + healing;
                }

                this.historicos.unshift({
                    texto:"O Player regenerou-se com "+healing+" pontos de vida",
                    player:true,
                })
            },
            giveup: function (){
                alert("Monstro ganhou");
                this.startgame=false;
                window.location.reload();
            }
        }
    })
</script>
</html>